name: Validatorless
description: Validate fields
version: 0.0.1
author: Thiago Bruno Miranda Teixeira Nunes
homepage: https://github.com/othiagobruno/validatorless

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
flutter: